// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
  text-align: center;
  size: 10em;
}
.landing-page--wrapper {
  display: flex;
  justify-content: center;
}
.landing-page {
  height: 336px;
  width: 780px;
  background-image: url('travel.jpg');
}
